/* Applies to the entire body of the HTML document */
body {
  margin: 25px;
  background-color: rgb(240,240,240);
  font-family: arial, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
}

.someclass { color: red; }

#someid { color: green; }

a {
  @extend %icon;
  text-decoration: none;
  background-size: 17px;
}

a.facebook {
  background: 0 -17px;
}